<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	
</head>
<body>
	<div>
			<h2>Welcome home, <%= user.uname%></h2> 		
	</div>

	<a href="/home/addemployee">Create employee</a> |
	<a href="/home/view_employee">view employee</a> |
	<a href="/logout">Logout</a>
</body>
</html>